---
layout: default
---

<div class="home">

  <h1 class="post-title">文章</h1>



  <ul class="post-list">
  {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="post-meta"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
        </h2>
         
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="post-title">分类测试</h1>
{% for category in site.categories %}
<h2>{{ category | first }}</h2>
<!-- </span>{{ category | last | size }}</span> -->
<ul class="post-list">
    {% for post in category.last %}
        <li ><h2><small class="post-meta">{{post.date | date:"%d/%m/%Y"}}</small><a href="{{ post.url | prepend: site.baseurl }}"  class="post-link">{{ post.title }}</a></h2></li>
    {% endfor %}
</ul>
{% endfor %}

{% include pagination.html %}