
  <header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><h1 class="site-title">{{ site.title }}</h1></a>
    <nav class="site-nav">
	<a href="{{ site.baseurl }}/"><h1 class="site-title">首页</h1></a>
    <a href="https://github.com/liucanjiao/demo" class="nav-link">Project</a>
    <a href="{{site.baseurl}}/sp1/" class="nav-link" target="_blank">专题报道</a>
	<a href="{{site.baseurl}}/about/" class="nav-link">About</a>
    <a href="{{site.baseurl}}/contact/" class="nav-link">Contact</a>
    </nav>

  </div>

</header>
